
<h1>New category created, <%= @category.name %></h1>
    
<p>You have successfully created a category, your category name is: <%= @category.name %>.<br>
</p>

<p>Thanks for creating the category and have a great day!</p>

<h3>Thank You</h3>
